.flashcards {
    border: 1px solid rgb(41, 101, 168);
    color: white;
    background-color: rgb(41, 101, 168);
    padding: 8px;
    margin-left: 580px;
    font-size: 15px;
}

.flashcards:hover {
    color: white;
}

.cardEach {
    margin-top: 40px;
    border: 1px solid lightgray;
    background-color: rgb(236, 236, 236);
}
